*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

header{
  height: 50px;
  background-color: #FF9A4B;
}

.main{
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box{
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position:relative;
  background-color: #EEEEEE;
}

.step-box:last-child{
  margin-right: 0;
}

.step-img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step-img2{
  height: 150px;
  background-image:url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.step-img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step-num{
  top: 0;
  left:0;
  position: absolute;
  background-color: #ff9a4b;
  color: #fff;
}

.title{
  margin:15px 0 5px;
}

footer{
  height:50px;
  background-color:#AAAAAA;
}

@media screen and (max-width:768px){
  .main{
    flex-direction:column;
    width: 100%;
  }

  .step-box{
    width: 90%;
  }

  .step-box:first-child{
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .step-box:last-child{
    margin-bottom: 50px;
    margin-top: 20px;
  }
  }